.photo-grid {
    margin: 92px 112px 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo-grid__item {
    margin: 8px;
    flex: 1;
}

@media (max-width: 1440px) {
    .photo-grid {
        margin: 92px calc(100vw * .5 - 608px) 84px;
    }
}

@media (max-width: 1279px) {
    .photo-grid {
        margin: 92px 32px 84px;
    }
}

@media (max-width: 1023px) {
    .photo-grid {
        margin: 92px 5px 50px;
    }

    .photo-grid__item {
        margin: 7px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin-top: 42px;
    }
    .photo-grid__item {
    }
}

@media screen and (max-width: 374px) {
    .photo-grid {

    }
    .photo-grid__item {
        height: auto;
        width: 100vw;
    }
}

@media (max-width: 320px) {
    .photo-grid {

    }
    .photo-grid__item {

    }
}
