.mx-margin-size-xl {
    margin: 0 228px;
}

@media (max-width: 1440px) {
    .mx-margin-size-xl  {
        margin: 0 calc(100vw * .5 - 492px);
    }
}

@media (max-width: 1279px) {
    .mx-margin-size-xl  {
        margin: 0 calc(100vw * .39 - 351.2px);
    }
}

@media (max-width: 767px) {
    .mx-margin-size-xl  {
        margin: 0;
    }
}


.mx-margin-size-l {
    margin: 0 148px;
}
