.video {
    position: relative;
    font-size: 0;
    margin: 0 9px;
}

.video__block {
    position: absolute;
    top: 0;
    left: 30px;
    bottom: 0;
    right: 0;
}

.video__mask {
    background: rgba( 0,0,0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video__image {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.video__title {
    margin: 0 auto;
    position: absolute;
    top: 59%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #fff;
    width: 310px;
    z-index: 98;
 }

.video__duration {
    position: absolute;
    top: 52%;
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #fff;
    z-index: 101;
}

.video__icon_play {
    position: absolute;
    top: 9%;
    width: 41px;
    z-index: 100;
}

.video__item:hover {}

.video__subtitle {
    position: absolute;
    top: 88%;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    z-index: 99;
}
