/* footer */

.footer {
    padding-top: 105px;
    display: flex;
    margin: 0 128px;
    background: #2a2c2f;
    color: white;
    font-family: Inter, sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    text-align: left;
    margin-right: 18px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #fff;
}

@media (max-width: 1280px) {
    .footer {
        margin: 0 48px;
    }
}

@media (max-width: 768px) {
    .footer {
        margin: 0 23px;
    }
    .footer__link {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__link {
        font-size: 16px;
    }
}

