/* video */

.videos {
    margin: 0 128px;
}

.videos__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto 30px;
    color: #fff;
}

.videos__subtitle {
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    margin: 0 auto 64px;
    text-align: center;
}

.videos__subtitle_block {
    display: block;
}

.videos__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1440px) {
    .videos  {
        margin: 0 calc(100vw * .5 - 592px);
    }
}

@media screen and (max-width: 1280px) {
    .videos {
        margin: 0 48px;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}
