/* video */

.videos {
    margin: 0 128px;
}

.videos__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto 30px;
    color: #fff;
}

.videos__subtitle {
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    margin: 0 auto 64px;
    text-align: center;
}

.videos__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1440px) {
    .videos  {
        margin: 0 calc(100vw * .5 - 592px);
    }
}

@media screen and (max-width: 1279px) {
    .videos {
        margin: 0 30px;
    }
}

@media screen and (max-width: 1023px) {
    .videos {
        margin: 0 8px;
    }

    .videos__title {
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }

    .videos__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .videos__container {
        flex-direction: column;
    }

}


@media screen and (max-width: 374px) {
    .videos__title {
        font-size: 32px;
        line-height: 35px;
    }

    .videos__subtitle {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        max-width: 288px;
    }
}
